@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --primary-accent-color : orange;
  --background-color : rgb(248, 239, 222);
  --primary-font-color: #222;
  --secondary-font-color: #555;
  --primary-font-family: 'Roboto Mono', monospace;
}

body{
    background: var(--background-color);
}

h1,h2{
    text-transform: uppercase;
    text-align: center;
}

.app{
    max-width: 80rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-height: 90vh;
    font-family: var(--primary-font-family);
    color : var(--primary-font-color);
}

.header{
    text-align: center;
    color: var(--primary-accent-color);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: 3rem;
    margin: 1.5rem auto;
    width : 100%;
}

.menu{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: 'Roboto Mono', monospace;
    justify-content: center;
}

.menu h2{
    font-size: 1.2rem;
    font-weight: 400;
}

footer{
    text-align: center;
    font-size: 0.9rem;
    color: var(--secondary-font-color);
    margin-top: 1rem;
    padding-bottom: 2rem;
    width: 100vw;
    border-bottom: 1rem solid var(--primary-accent-color);
    font-family: var(--primary-font-family);
}

.items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
    padding: 1rem;
    max-width: 80rem;    
    /* min-width: 20rem;   */
    margin: 0 auto;
}

.itemsText{
    text-align: center;
    font-size: .9rem;
    color: var(--secondary-font-color);
    margin-top: 1rem;
    padding-bottom: 2rem;
    font-family: var(--primary-font-family);
}

@media (max-width: 60rem) {
  .items {
    grid-template-columns: 1fr;
  }
}

.item{
    width: 30rem;
    height: 14rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
}
.sold-out{
    filter: grayscale(100%);
    opacity: 0.6;
}

.item img{
    flex: 1;
    object-fit:contain;
    display: block;
    height: 100%;
    min-width: 0;
}
.item div{
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
}
.item div h3{
    font-size: 1.2rem;
    font-weight: 400;
    flex : 1;
}
.item div p{
    font-size: 0.7rem;
    font-weight: 300;
    flex: 2;
    padding : 1rem 0
}
.item div span{
    font-size: 1rem;
    font-weight: 300;
    flex: 1;
    bottom: 0.5rem;
    position: absolute;
}

.available:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s;
    border-radius: 5px;
}
